.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #e9967a;
  border-radius: 1rem;
  background-color: #fff6e5;
  padding: 20px;
  min-width: 300px;
  max-width: 400px;
  text-align: center;
}

.checked {
  border: 1px solid #fff;
  background-color: #4b4b4b;
  color: #fee58b;
}

.card-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-block__title {
  margin-right: auto;
  width: 120px;
}

.card-block__checkbox {
  border-radius: 1rem;
  width: 22px;
  height: 22px;
}

.card__img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.card__text {
  text-align: justify;
}

.hide {
  display: none;
}

@media screen and (max-height: 600px) {
  .card {
    flex-basis: calc(33.33% - 20px);
  }
}

@media screen and (max-height: 400px) {
  .card {
    flex-basis: calc(50% - 20px);
  }
}

@media screen and (max-height: 300px) {
  .card {
    flex-basis: 100%;
  }
}
