.card {
  text-align: center;
  background-color: #fff6e5;
  border: 1px solid #e9967a;
  padding: 20px;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  max-width: 400px;
}

.checked {
  color: #fee58b;
  background-color: #4b4b4b;
  border: 1px solid #fff;
}

.card__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__block-title {
  width: 120px;
  text-align: start;
}

.card__block-checkbox {
  width: 22px;
  height: 22px;
  border-radius: 1rem;
}

.card__img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.card__content-text {
  text-align: justify;
  margin-bottom: 0;
}

@media screen and (max-height: 600px) {
  .card {
    flex-basis: calc(33.33% - 20px);
  }
}

@media screen and (max-height: 400px) {
  .card {
    flex-basis: calc(50% - 20px);
  }
}

@media screen and (max-height: 300px) {
  .card {
    flex-basis: 100%;
  }
}
